<!DOCTYPE html>
<html>
<body>
    <style>
        h1 {color:rgb(10, 10, 10);}
        p {color:rgb(12, 12, 12);}
        body {
        background-color: #f3db04fa;
      }
      </style>

<h2>DataMaking</h2>

<p>List Of the Courses Available:</p>

<form action="/action_page.php">
    <label for="courses">courses:</label>
    <select id="courses" name="courses">
      <option value="Python">Python</option>
      <option value="Django">Django</option>
      <option value="Java">Java</option>
      <option value=".Net">.Net</option>
      <option value="Python">JavaScripts</option>
      <option value="Django">Swift</option>
      <option value="Java">SAP</option>
      <option value=".Net">c++</option>
      <option value=".Net">c</option>
    
    
  </form>

</body>
</html>
