
<style>
    h1 {color:rgb(10, 10, 10);}
    p {color:rgb(12, 12, 12);}
    body {
    background-color: #f3db04fa;
  }
  </style>
  <h1>About Instructions</h1>
      <p><b>Understand the epidemiology and science behind COVID-19</b> with new courses that provide fact-based information about this global public health challenge.<br><hr>
        <b>Take the first step in exploring a new career path</b> with learning programs that can help you build skills in fields like information technology, healthcare, graphic design, marketing, and more.<br><hr>
        <b>See what data science is all about</b> with these beginner and intermediate level courses that focus on strengthening your mathematical and statistical foundations.<br><hr>
        <b>Hone important soft skills</b> like effective communication and conflict resolution to achieve your personal and professional goals. 
        </p>
